<div id="<%= dom_id buy %>">
  <p>
    <strong>Category:</strong>
    <%= buy.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= buy.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= buy.amount %>
  </p>

</div>
